html {
  box-sizing: border-box;
}
*, *::before, *::after {box-sizing: inherit}

html, body, #app {
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  color: inherit;
  border: 2px solid #f8f8f8;
  padding: .4em 1em;
  border-radius: 8px;
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: midnightblue;
    border-radius: inherit;
    z-index: -1;
    transition: width .2s ease-out;
  }

  &:hover, &:focus {
    border: 0;
    transform: translate(2px,2px);
    margin-bottom: 4px;

    &:before {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}

body {
  color: #f8f8f8;
  font-family: 'Noto Sans', sans-serif;
  // background-image: url(img/bg3.jpg);
  background-size: cover;
  background-position: 0 100%;
  // backdrop-filter: brightness(70%);
  // box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.3);
  margin: 0;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: .3em .8em;
}

nav {

  display: flex;
  align-items: center;
  font-size: 0.9em;

  #logo {
    margin-right: 1.3em;
  }

  a {
    color: #f8f8f8;
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    transition: all .2s ease-out;
    z-index: 1;
  }

  .nav-links > a, & > a {
    font-size: 1.2em;
    display: block;
    padding: .6em .8em;
    transition: background-color .1s;
    position: relative;
    
    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 0;
      bottom: -5px;
      background: #f8f8f8;
      height: 2px;
      transition-property: width;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  .search {
    margin-left: auto;
    color: #f8f8f8;
    position: relative;

    & > input, & > button {
      color: inherit;
      border: 0;
    }
    input.active {
      opacity: 1;
      width: 250px;
      padding: 0.6em .1em;
      padding-right: 2.4em;
      padding-left: 1em;
    }
    & > input {
      opacity: 0;
      background: rgba(0,0,0,.4);
      border-radius: 20px;
      width: 0px;
      padding: 0.6em .1em;
      padding-right: 2.4em;
      transition: width .2s;
    }
    & > button {
      padding: 0.4em 0.5em;
      background: 0;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      right: 4px;
      top: 2px;
      color: #f8f8f8;
    }
  }

  .avatar {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .nav-toggle {
    display: none;
    color: inherit;
    transition: all .2s ease-out;
    background: 0;
    padding: .2em .6em;
    font-size: 1.2em;
    margin: 0 .5em;
    border: 0;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

    &.active {
      color: #111;
      background: #f8f8f8;
    }
  }
}

.dropdown {
  position: relative;
  margin-left: 1em;
  &:hover .dropdown-list {
    visibility: visible;
    opacity: 1;
  }
}
.dropdown-list {
  background-color: #f8f8f8;
  box-shadow: 0 4px 10px 0px #000;
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  right: 0;
  margin-top: 0.5em;
  padding: .2em 0;
  flex-direction: column;
  a {
    padding: 0.2em 1em;
    color: #111;
  }
  a:hover {
    background: #ddd2d2;
  }
  &::before {
    content: '';
    background-color: inherit;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    right: 5px;
    top: -5px;
    z-index: -1;
  }
}

main {
  height: 100%;
  // text-shadow: 0 0 2px #111;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.timeline {
  // float: left;
  background-color: #ddd2d2;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 3px;
  height: 55%;
  margin-left: .9em;

  button {
    background-color: inherit;
    width: 1em;
    height: 1em;
    transform: translateX(-.4em);
    border-radius: 50%;
    border: 0;
    transition: all .2s;
    &.active {
      background-color: #fff;
      transform: scale(2) translateX(-20%);
    }
  }
}

.carousel {
  width: 40%;
  display: flex;
  margin-top: 4vw;
}

.slider {
  margin-top: 4.5vw;
  margin-left: 3em;
  h1 {
    margin: 0;
    font-size: 4.95vw;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: 700;
  }
  p {
    margin: 0;
    margin-bottom: 2.5em;
  }
  .btn {
    [class^=fa] {
      margin-left: .5em;
    }
  }
}

.image-cards {
  align-self: flex-end;
  margin-bottom: 4.7vw;
  width: 48%;
  text-align: right;

  h3 {
    font-weight: 300;
    border-bottom: 2px solid #bebebe;
    padding: 0 6em .5em .2em;
    display: inline-block;
    margin-top: 0;
  }
  .cards {
    display: flex;
    align-items: flex-end;
    text-align: left;
    height: 180px;
    margin-top: -30px;
  }
  .card {
    width: 150px;
    height: 150px;
    padding: .3em .7em;
    border-radius: 15px;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 .8em;
    background-size: cover;
    transition: all .3s;
    box-shadow: 0 0 10px 3px #111;

    figcaption {
      font-size: .9em;
      position: absolute;
      bottom: .6em;
      & > span {
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
      }
    }

    &:hover {
      height: 180px;
      width: 180px;

      figcaption > span {
        opacity: 1;
        visibility: visible;
      }
    }

  }
}

.social {
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 3vw;
  font-size: 1.2em;

  a {
    display: inline-block;
    margin: .3em .6em;
    transition: color .2s;

    &:hover {
      color: midnightblue;
    }
  }
}

@media screen and (max-width: 1230px) {
  main {
    flex-direction: column;
  }

  .carousel {
    height: 50%;
    margin-top: 7vw;
  }

  .timeline {height: 100%}

  .carousel {width: 100%;}
  .slider {
    margin-top: 0;
    p {
      max-width: 600px;
      margin-bottom: 1.5em;
    }
  }
  .image-cards {
    align-self: center;
    margin-bottom: 18vh;
    text-align: center;
    width: 75%;

    h3 {
      padding: 0 0 0.5em 0;
      width: 100%;
    }

    .cards {
      justify-content: center;
      height: 120px;
    }

    .card {
      width: 90px;
      height: 90px;
  
      &:hover {
        width: 120px;
        height: 120px;
      }
    }
  }

}

@media screen and (max-width: 900px) {
  nav {
    .nav-toggle {
      display: block;
      position: relative;
      &.active::after {
        height: 1em;
      }
      &::after {
        content: '';
        background-color: inherit;
        width: 100%;
        height: .2em;
        position: absolute;
        top: 100%;
        right: 0;
        transition: height .2s ease-out;
      }
    }

    .nav-links {
      padding-bottom: .4em;
      background-color: #f8f8f8;
      border-radius: 8px;
      color: #111;
      position: absolute;
      top: 6vh;
      right: 0;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
      &.active {
        top: 8vh;
        opacity: 1;
        visibility: visible;
      }

      a {
        color: inherit;
        &::after {
          background-color: #111;
        }
      }
    }
  }

  .carousel .slide > h1 {
    font-size: 9vw;
  }
}
